extend ../project.extend

//-projects = require("../../projects.cson")
//-category = require("./folder.json")

block head-title
  title Cole Lawrence - International Club T Shirt

block post-body
  h2 International Club T Shirt
  p Fun little drawings of vikings from different cultures made this T Shirt design an instant favorite for our members.
  center
    img(src=prefix + "images/international-club-shirt/intlclubv3.jpg")
    img(src=prefix + "images/international-club-shirt/intlclub-present.jpg")