extend ../project.extend

//-projects = require("../../projects.cson")
//-category = require("./folder.json")

block head-title
  title Cole Lawrence - National Honor Society T Shirt

block post-body
  h2 National Honor Society T Shirt
  p A silly brain with the NHS letters in the middle.
  center
    img(src=prefix + "images/nhs-shirt/NHS-Brain-present.png")