extend ../project.extend

//-projects = require("../../projects.cson")
//-category = require("./folder.json")

block head-title
  title Cole Lawrence - Vikings Robotics Club Branding

block post-body
  h2 Vikings Robotics Club Branding
  p A fun logo design and an identifiable name I developed for our Shawnee Mission West robotics club. These business cards would provide our members more networking opportunities and may have allowed us to look more professional for potential sponsors.
  center
    img(src=prefix + "images/robotics-club-branding/business-cards-poster.png")
    img(src=prefix + "images/robotics-club-branding/viking-robotics-card-horizontal.png")
    img(src=prefix + "images/robotics-club-branding/viking-robotics-card-vertical.png")