extend index.extend

block head-title
  title Cole Lawrence: Graphics
  meta(name="description" content="Graphic designs and 2D art made by Cole Lawrence (ZombieHippie)")
  meta(name="keywords" content="Cole Lawrence,graphic design,2d art,drawings,art,ZombieHippie,AZombieHippie,Cole R Lawrence")


//-projects = require("projects.cson")
block body
  center: h2 Graphics Projects
  ul.project-list
    - var typeTest = /graphic/
    each project in projects
      if typeTest.exec(project.type) != null
        +projectTile(project.name, project.slug, project.img, project.desc)