extend layout.extend

block head
  title Cole Lawrence Portfolio
  meta(name="description" content="All about Cole Lawrence (ZombieHippie); a friendly programmer always trying to learn more about web development and collaborative projects.")
  meta(name="keywords" content="Cole Lawrence,web developer,portfolio,ZombieHippie,AZombieHippie,Cole R Lawrence")
  meta(id="page-type" data-type="independent")

block body
  section
    center: img(src="images/about/cole-lawrence-arizona-landscape-2014-01-19.jpg" style="max-width: 100%" title="\"Professional\" photo of Cole Lawrence")
    center: h2 Hello, my name is Cole Lawrence
    center: h3 I love web development and user experience design.
    center: p I am attending Missouri State University for a computer science degree.
    //-center: img(src="images/about/cole-lawrence-and-roommates-2014-09-23.jpg" title="The roomates of room 206!")
    //-center: img(src="images/about/cole-lawrence-and-hall-council-2015-01-31.jpg" title="The Scholars House Hall Council of Spring 2015")
  section
    strong Documents
    ul
      li: a(href="documents/resume-web-development-SP15.pdf" title="Cole Lawrence's resume tailored to web development positions.") Resume (Web development)
    strong Websites 
    ul
      li: a(href="http://github.com/ZombieHippie" title="Cole Lawrence's open source repositiories.") Github Profile
      li: a(href="http://www.linkedin.com/in/colelawr" title="Cole Lawrence's LinkedIn profile.") LinkedIn Profile
