extend layout.extend

block head
  title Cole Lawrence: Home
  link(href="css/site.css" rel="stylesheet")

block body
  section
    center: img(src="https://2.gravatar.com/avatar/a88e4cbf821389a6a010f6859cc55e2a?d=https%3A%2F%2Fidenticons.github.com%2F08de6fc5a65738b4e8893ed05fa35247.png&r=x&s=440" style="max-width: 100%")
    center: h2 Hello, my name is Cole Lawrence
    center: h3 I love graphic design and web development. 
  section
    strong Documents
    ul
      li: a(href="resume-web-development-SP15.pdf" title="Cole Lawrence's resume tailored to web development positions.") Resume (Web development)
    strong Websites 
    ul
      li: a(href="//github.com/ZombieHippie" title="Cole Lawrence's open source repositiories.") Github Profile
      li: a(href="//www.linkedin.com/in/colelawr" title="Cole Lawrence's LinkedIn profile.") LinkedIn Profile
