extend layout.extend

block head
  link(href="/css/index.css" rel="stylesheet")
  block head-title

mixin projectTile(name, slug, img, description)
  li: a(href="/post/#{slug}.html")
    img(src="/thumb/#{img || (slug + '.png')}")
    h3=name
    p=description