extend layout.extend

block head
  link(href="/css/index.css" rel="stylesheet")

mixin projectTile(name, slug, description)
  li: a(href="/post/#{slug}.html")
    img(src="/thumb/#{slug}.png")
    h3=name
    p=description

//-projects = require("projects.cson")
block body
  ul.project-list
    each project in projects
      +projectTile(project.name, project.slug, project.desc)