extend layout.extend

block head
  link(href="/css/index.css" rel="stylesheet")

mixin projectTile(name, imgURL, description, url)
  li: a(href=url)
    img(src=imgURL)
    h3=name
    p=description

//-projects = require("projects.cson")
block body
  ul.project-list
    each project in projects
      +projectTile(project.name, project.img, project.desc, project.url)