doctype html5

head
  style.
    html { font-family: sans-serif }
    .mast-head { text-align: center }
  block head

body
  .mast-head
    a(href="/index.html" title="home page"): h1 Cole Lawrence
  block body