[
    name: "The Animator 2013"
    slug:  "the-animator-2013"
    img:  "the-animator-2013.png"
    desc: "3D Animation in Maya created for the SCAD Challenge of 2013"
    type: "animation"
  ,
    name: "Toasty"
    slug:  "toasty-animation"
    img:  "toasty.jpg"
    desc: "3D Animation in Maya created at the SCAD Summer Enrichment Program"
    type: "animation"
  ,
    name: "Lego Minecraft"
    slug:  "lego-minecraft"
    img:  "minecraftsma.jpg"
    desc: "Stop motion animation created at the Broadmoor Technical Center"
    type: "animation"
  ,
    name: "The Girl in Hyacinth Blue Trailer"
    slug:  "hyacinth-blue-animation"
    img:  "hyacinth.jpg"
    desc: "Stop motion animation created for my 10th grade English class"
    type: "animation"
  ,
    name: "Portfolio Website 2014"
    slug:  "portfolio-website-2014"
    img:  "portfolio-2014.jpg"
    desc: "A combination of libraries are used to create this mobile friendly, unique, User-Experience"
    type: "software"
  ,
    name: "Foxtrot HTML5 Game"
    slug:  "foxtrot-html5-game"
    img:  "foxtrot.gif"
    desc: "CoffeeScript and canvas are used to make this Doodlejump-esque game"
    type: "software"
  ,
    name: "Platformer"
    slug:  "flash-platformer"
    img:  "platformer.gif"
    desc: "This was my first game using Flash and AS3"
    type: "software"
  ,
    name: "Thrower Game"
    slug:  "flash-thrower-game"
    img:  "thrower.gif"
    desc: "Game with multiple levels created while at Broadmoor Technical Center in 10th grade"
    type: "software"
  ,
    name: "FreeSketch"
    slug:  "freesketch-collaborative-drawing"
    img:  "freesketch.jpg"
    desc: "A collaborative drawing canvas for multiple friends to draw on using Websockets and Nodejs"
    type: "software"
  ,
    name: "Vikings Robotics Club Branding"
    slug:  "vikings-robotics-club-branding"
    img:  "roboticsbranding.png"
    desc: "Brand identity development for our Robotics Club"
    type: "graphic"
  ,
    name: "Rock 4 Hope Poster"
    slug:  "rock-4-hope-poster-design"
    img:  "rock4hope.png"
    desc: "Informational poster for an NHS community benefit concert"
    type: "graphic"
  ,
    name: "International Club T Shirt"
    slug:  "international-club-tshirt"
    img:  "intlshirt.jpg"
    desc: "T Shirt design for our high school international club"
    type: "graphic"
  ,
    name: "National Honor Society T Shirt"
    slug:  "nhs-tshirt"
    img:  "nhsshirt.png"
    desc: "T Shirt design for our high school National Honor Society"
    type: "graphic"
]