extend index.extend

//-projects = require("projects.cson")
block body
  ul.project-list
    - var typeTest = /software/
    each project in projects
      if typeTest.exec(project.type) != null
        +projectTile(project.name, project.slug, project.img, project.desc)