extend ../layout.extend

block head
  title Cole Lawrence - Flash Thrower Game
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 Flash Thrower Game
  p I built this game while attending Broadmoor Technical Center in 10th grade.
  center
    img(src="/images/thrower-game/thrower-game-screenshot-full.png" title="In-game screenshot of hero waiting to throw the ball.")
  p You can use the mouse to aim your thrower's arm, then you can also move your cursor closer or further away from the thrower to achieve less or more powerful throws.
  center
    img(src="/images/thrower-game/thrower-game-screenshot.png" title="In-game screenshot of hero throwing the ball on the beginning stage.")
