extend post.extend

block head-title
  title Cole Lawrence - Flash Thrower Game

block body
  h2 Flash Thrower Game
  p I built this game while attending Broadmoor Technical Center in 10th grade.
  center: img(src="../images/thrower-game/thrower-game-screenshot-full.png" title="In-game screenshot of hero waiting to throw the ball.")
  p You can use the mouse to aim your thrower's arm, then you can also move your cursor closer or further away from the thrower to achieve less or more powerful throws.
  center: img(src="../images/thrower-game/thrower-game-screenshot.png" title="In-game screenshot of hero throwing the ball on the beginning stage.")
  br
  center: strong: a(href="../flash-games/display-flash.htm#throwergame" target="here_frame") Open Thrower Game 0.1.0
  iframe(width="660" height="480" name="here_frame")