extend software-post.extend

block head-title
  title Cole Lawrence - Flash Platformer

block post-body
  h2 Flash Platformer
  p This game is built with AS3 in Flash CS4. I learned a lot from building this game and found it fascinating how collisions are handled and how the world actually moves inverted of where your character moves in order to side-scroll with the game.
  center
    img(src="../images/platformer-game/platformer-game-screenshot-examples.png" title="In-game screnshots showing the hero 'wall-jumping'")
  br
  center
    img(src="../images/platformer-game/platformer-game-screenshot-full.png" title="In-game screenshot")
  caption This screenshot shows how there is a tree collision checking system for checking which platform peice you are touching.
  br
  center: strong: a(href="../flash-games/display-flash.htm#platformer" target="here_frame") Open Platformer Game 0.0.1
  center: strong: a(href="../flash-games/display-flash.htm#platformer2" target="here_frame") Open Platformer Game 0.2.0
  center: strong: a(href="../flash-games/display-flash.htm#platformer8" target="here_frame") Open Platformer Game 0.8.0
  iframe(width="660" height="480" name="here_frame")