extend ../layout.extend

block head
  title Cole Lawrence - Flash Platformer
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 Flash Platformer
  p This game is built with AS3 and tends to have occasional wall collision glitches. I learned a lot from building this game and found it fascinating how collisions are handled and how the world actually moves inverted of where your character moves in order to side-scroll with the game. 