extend ../layout.extend

block head
  title Cole Lawrence - Flash Thrower Game
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 Flash Thrower Game
  p I built this game while attending Broadmoor Technical Center in 10th grade.
  p You can use the mouse to aim your thrower's arm, then you can also move your cursor closer or further away from the thrower to achieve less or more powerful throws. 