extend post.extend

block head-title
  title Cole Lawrence - Foxtrot HTML5 Game

block body
  h2 Foxtrot HTML5 Game
  center
    img(src="../images/foxtrot/foxtrot-screenshot.jpg" title="In-game screenshot of fox jumping off to the right.")
  p This game is built with CoffeeScript to resemble another popular game known as Doodle-jump.
  p
    center: strong: a(href="//github.com/ZombieHippie/foxtrot" title="ZombieHippie/Foxtrot") Source Code
    center: strong: a(href="//zombiehippie.github.io/TheFoxtrot/" title="Play Foxtrot game in this browser") Open the foxtrot game