extend ../layout.extend

block head
  title Cole Lawrence - Foxtrot HTML5 Game
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 Foxtrot HTML5 Game
  p This game is built with CoffeeScript to resemble another popular game known as Doodle-jump.