extend ../layout.extend

block head
  title Cole Lawrence - Foxtrot HTML5 Game
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 Foxtrot HTML5 Game
  center
    img(src="/images/foxtrot/foxtrot-screenshot.jpg" title="In-game screenshot of fox jumping off to the right.")
  p This game is built with CoffeeScript to resemble another popular game known as Doodle-jump.
  p
    | For further information,&nbsp;
    a(href="//github.com/ZombieHippie/foxtrot" title="ZombieHippie/Foxtrot") view the source code on Github
    | , or&nbsp;
    a(href="//foxtrot.zombiehippie.com" title="Play Foxtrot game in this browser") play the game
    | .