extend post.extend

block head-title
  title Cole Lawrence - FreeSketch Collaborative Drawing

block body
  h2 FreeSketch Collaborative Drawing
  p This webapp uses nodejs in combination with websockets and CoffeeScript to create a fun collaborative sketching canvas.
  center: img(src="../images/freesketch-game/freesketch-screenshot.jpg" title="Desktop screenshot showing how the drawings made by two different people are communicated between the different clients connected to the game.")
  p
    | You can press&nbsp;
    code space
    | &nbsp;to change your brush size and color, or chat to whoever else is drawing with you.
  br
  center: strong: a(href="//zombiehippie.github.io/FreeSketch/" target="_blank") Open sketch app