extend ../layout.extend

block head
  title Cole Lawrence - FreeSketch Collaborative Drawing
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 FreeSketch Collaborative Drawing
  p This webapp uses nodejs in combination with websockets and CoffeeScript to create a fun collaborative sketching canvas.
  p
    | You can press
    code space
    | to change your brush size and color, or chat to whoever else is drawing with you.