extend ../layout.extend

block head
  title Cole Lawrence - The Girl in Hyacinth Blue Trailer
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 The Girl in Hyacinth Blue Trailer
  center
    iframe(width="420" height="315" src="https://www.youtube.com/embed/Y3k202eiBEM" frameborder="0" allowfullscreen)
  p Whenever I had the opportunity to do an animation or drawing instead of an essay or presentation, I took the opportunity.
  p
    | This animation is based off the series of events in the book
    i The Girl in Hyacinth Blue
    |. In this stop motion animation, I experiment with sound effects and changing focus to create depth for my audience. 