extend ../layout.extend

block head
  title Cole Lawrence - International Club T Shirt
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 International Club T Shirt
  p Fun little drawings of vikings from different cultures made this T Shirt design an instant favorite for our members.