extend post.extend

block head-title
  title Cole Lawrence - International Club T Shirt

block body
  h2 International Club T Shirt
  p Fun little drawings of vikings from different cultures made this T Shirt design an instant favorite for our members.
  center
    img(src="../images/international-club-shirt/intlclubv3.jpg")
    img(src="../images/international-club-shirt/intlclub-present.jpg")