extend ../layout.extend

block head
  title Cole Lawrence - Lego Minecraft
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 Lego Minecraft
  p I made this animation while attending Broadmoor Technical Center my sophomore year of high school.
  p Made in Maya.