extend post.extend

block head-title
  title Cole Lawrence - National Honor Society T Shirt

block body
  h2 National Honor Society T Shirt
  p A silly brain with the NHS letters in the middle.
  center
    img(src="../images/nhs-shirt/NHS-Brain-present.png")