extend ../layout.extend

block head
  title Cole Lawrence - Portfolio Website 2014
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 Portfolio Website 2014
  p This website design is a single-page app that builds its structure using JavaScript in combination with ICanHaz templating library.