extend ../layout.extend

block head
  title Cole Lawrence - Rock 4 Hope Poster Layout Design
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 Rock 4 Hope Poster Layout Design
  p This is one of my favorite poster designs. Given the amount of information provided, I wanted to create a poster that was both eye-catching and yet easy to read.
  center
    img(src="/images/rock4hope-british-invasion/Rock4Hope2013FlyerV1R5-BRITISH-INVASION.png")
  p Another girl in our society named Sarah Hinman designed the actual logo graphics used in the center.