extend ../layout.extend

block head
  title Cole Lawrence - The Saddest Cloud
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 The Saddest Cloud
  p This is an animation I made for the National PTA Reflections Contest my 8th grade year, where it won for the state of Kansas and placed in nationals.
  p This is one of my first Flash CS4 projects.