extend ../layout.extend

block head
  title Cole Lawrence - Vikings Robotics Club Branding
  link(href="/css/post.css" rel="stylesheet")

block body
  h2 Vikings Robotics Club Branding
  p A fun logo design and an identifiable name I developed for our Shawnee Mission West robotics club. These business cards would provide our members more networking opportunities and may have allowed us to look more professional for potential sponsors.