extend ../project.extend

//-projects = require("../../projects.cson")
//-category = require("./folder.json")

block head-title
  title Cole Lawrence - Foxtrot HTML5 Game

//-code = require("post-code.cson")

block post-body
  h2 Foxtrot HTML5 Game
  center: img(src=prefix + "images/foxtrot/foxtrot-screenshot.jpg" title="In-game screenshot of fox jumping off to the right.")
  p This game is built with CoffeeScript to resemble another popular game known as Doodle-jump.
  p This was my first experience using class-like data structures in "JavaScript".
  .snippet
    center: strong: a(href="https://github.com/ZombieHippie/TheFoxtrot/blob/ce53b71e70e07ab12a0767a835b1d493996fba42/foxtrot.coffee#L332-338") foxtrot.coffee@ce53b#L332-338
    pre.code.cm-s-default(data-type="text/javascript")=code.foxtrot
  p
    center: strong: a(href="http://github.com/ZombieHippie/TheFoxtrot" title="ZombieHippie/Foxtrot") Source Code
    center: strong: a(href="http://zombiehippie.github.io/TheFoxtrot/" title="Play Foxtrot game in this browser" ) Open the foxtrot game
