extend ../index.extend

block head-title
  title Software Projects
  meta(name="description" content="Interactive software for web browsers and desktop made by Cole Lawrence (ZombieHippie)")
  meta(name="keywords" content="Cole Lawrence,programming,software,web development,ZombieHippie,AZombieHippie,Cole R Lawrence")

//-projects = require("../../projects.cson")
//-category = require("folder.json")
