.snippet {
  margin: 1em 0;
}
.snippet>.snippet-title {
  margin: 0 0 1em;
  font-size: 1rem;
}
.snippet>.snippet-title .type {
  border-radius: 4px;
}
.snippet>.snippet-title .type,
.snippet>.snippet-title strong {
  display: inline-block;
  padding: .5em;
  background-color: #444;
}
.snippet>.snippet-title,
.snippet>.snippet-title a {
  color: #f2f2f2;
}
.snippet>.snippet-title.pr .type {
  background-color: purple;
}
.snippet ul {
  list-style: none;
}
.snippet .code {
  padding: 20px;
  background: #f5f5f5;
  word-wrap: break-word;
}