ul.project-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

ul.project-list li {
  display: inline-block;
}

ul.project-list li a {
  width: 240px;
  height: 300px;
  padding: 20px;
  display: inline-block;
}
@media screen {
ul.project-list li a { height: 240px; }
ul.project-list li a p,
ul.project-list li a h3 { display: none; }
}
ul.project-list h3 {
  margin: 0;
}
ul.project-list p {
  margin: 0;
  height: 60px;
  display: block;
  scroll-y: auto;
}
ul.project-list img {
  height: 240px;
  width: 240px;
}