body {
/*  max-width: 38rem;*/
}

.page-content>a:first-child {
text-decoration: none;
font-weight: bold;
font-size: 1.3rem;
}

center>img {
  max-height: 80vh;
  max-width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: solid #dbdbdb 3px;
}

table {width:100%;}
table tr td:first-child,
table tr td:last-child { text-align:center; width: 5rem;}