/* "< Animation" link */
.page-content>a:first-child {
text-decoration: none;
font-weight: bold;
font-size: 1.3rem;
}
.page-content>a:first-child>* {
margin:0;
}

/* Images */
center>img {
  max-height: 80vh;
  max-width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: solid #dbdbdb 3px;
}

/* Next and previous projects */
table {width:100%;}
table tr td:first-child,
table tr td:last-child {
  text-align:center;
  width: 5rem;
  pointer-events: all;
}
.page-content {
  position: relative;
}
@media only screen and (min-width: 50rem) { /*38 + 1 * 2 + 5 * 2 */
  table {
    position: absolute;
    left: 50%;
    top: 10rem;
    width: 50rem;
    margin-left: -25rem;
    margin-top: -10rem;
  }
  table, table tr, table tr td:nth-child(2){
    pointer-events: none;
  }
}