html { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5 { font-family: "open sans", sans-serif; }
body, html, body>article {
  width: 100%;height: 100%;
  top: 0; left: 0;
  position:absolute;
  margin: 0;
}
body>article{
  overflow: auto;
}
#navigation {
  transition: margin 2s;
}

img.icon { width: 5rem; height: 5rem; border-radius: 2.5rem; }
header.mast-head, footer { text-align: center }
header.mast-head { padding-top: 0;}
header.mast-head h1 {margin: 0; padding: 1rem; display: block}
header.mast-head nav ul {
  list-style: none;
  padding: 0;
}
section.page-content {
  margin: 0;
  max-width: 38rem;
  margin: 0 auto;
}
section.page-content>section {
  background: white;
  padding: 1rem 1rem;
}
a {color: dodgerblue; }
a:visited {color: dodgerblue;}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
.page-content, #navigation {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -o-user-select: initial;
}
/******************
 * Page swaps
 */
html[state=loading-images] #swap-page {
  visibility: hidden;
}
#swap-page-buffer {
  visibility: hidden;
  position: absolute;
}
html[state=buffering] #swap-page-buffer,
html[state=loading-images] #swap-page-buffer {
  visibility: visible;
}

/* Images */
center>img {
  max-height: 80vh;
  max-width: 100%;
  /*border-radius: 6px;*/
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
