html { font-family: sans-serif }
body {
  padding: 0 1rem;
  margin: 0 auto;
}
section.page-content {
  max-width: 38rem;
  margin: 0 auto;
}
a {color: dodgerblue;/*#4F1831*/ }
a:visited {color: dodgerblue;/*#6F2151*/}
header.mast-head, footer { text-align: center }
header.mast-head a img { width: 5rem; height: 5rem; border-radius: 2.5rem; }
header.mast-head { padding-top: 0;}
header.mast-head h1 {margin: 0; padding: 1rem; display: block}
header.mast-head nav ul {
  list-style: none;
  padding: 0;
}
header.mast-head nav {
  max-height: 0rem; overflow: hidden;
  -webkit-transition: max-height .4s;
  transition: max-height .4s;
}
header.mast-head nav ul li a {
  display: inline-block;
  padding: .5em;
}

header .navigation-toggle {
  position: fixed;
  right: .5rem; top: .5rem;
  padding: .5rem;
  display: inline-block;
  width: 1.4rem; height: 1.25rem;
  border-radius: .25rem;
  background-color: whitesmoke;/*#E0B9BD*/;
}
header .navigation-toggle>span {
  margin-top:.25rem;
  height: .25rem;
  width: 1.4rem;
  display: inline-block;
  background: dodgerblue;/*#4F1831*/
}
header .navigation-toggle>span:first-child {
  margin-top:0;
}

header.mast-head .navigation-toggle>span {
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  transition: all .5s;
}
header.mast-head:target .navigation-toggle>span:nth-child(1) {
  background:red;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(45deg);
  margin-top: .5rem;
}
header.mast-head:target .navigation-toggle>span:nth-child(2) {
  background:transparent;
}
header.mast-head:target .navigation-toggle>span:nth-child(3) {
  background:red;
  margin-top: -.75rem;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

header.mast-head:target nav { max-height: 20rem; }
