extend ../layout.extend

block level
  - var level = 2

block head
  meta(id="page-type" data-type="index")
  block head-title

mixin projectTile(name, slug, img, description)
  li: a(href="#{slug}.html")
    img(src="../../thumb/#{img || (slug + '.png')}")
    h3=name
    p=description

block body
  center: h2=category.name
  ul.project-list
    each project in projects[category.slug]
      +projectTile(project.name, project.slug, project.img, project.desc)