extend ../index.extend

block head-title
  title Animation Projects
  meta(name="description" content="Animations made by Cole Lawrence (ZombieHippie)")
  meta(name="keywords" content="Cole Lawrence,Animation,3D Animation,Art,ZombieHippie,AZombieHippie,Cole R Lawrence")

//-projects = require("../../projects.cson")
//-category = require("folder.json")
