extend ../project.extend

//-projects = require("../../projects.cson")
//-category = require("./folder.json")

block head-title
  title Cole Lawrence - Toasty Animation

block post-body
  h2 Toasty Animation
  center
    iframe(width="420" height="315" src="https://www.youtube.com/embed/yWX1oUNAw9c" frameborder="0" allowfullscreen)
  p This is an animation I made while at a SCAD Summer Enrichment program.
  p Made in Maya.
