/**************
 * Code snippets
 */
.snippet {
  margin: 2em 0;
}
.snippet>.snippet-title {
  margin: 0 0 1em;
  font-size: 1rem;
}
.snippet>.snippet-title .type {
  border-radius: 4px;
  background-color: #444;
}
.snippet>.snippet-title .type,
.snippet>.snippet-title strong {
  display: inline-block;
  padding: .5em;
}
.snippet>.snippet-title .type,
.snippet>.snippet-title .type a {
  color: #f2f2f2;
}
.snippet>.snippet-title.al .type {
  background-color: turquoise;
}
.snippet>.snippet-title.pr .type {
  background-color: purple;
}
.snippet ul {
  list-style: none;
}
.snippet .code {
  padding: 20px 16px 20px 20px;
  border-left: #9f0 solid 4px;
  word-wrap: break-word;
}
/******************
 * Index pages
 */

ul.project-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

ul.project-list li.project-item {
  display: block;
}
li.project-item a {
  /*width: 8rem;*/
  height: 8rem;
  overflow: hidden;
  padding: 1rem;
  padding-left: 10rem;
  margin: .5rem;
  /*background-color: #f1f1f4;
  border: 2px solid #e1e1e4;
  border-radius: .2rem;
  */
  display: block;
  position: relative;
}
li.project-item a img {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
ul.project-list h3 {
  margin: 0;
  font-size: 1rem;
}
ul.project-list p {
  margin: 0;
  height: 60px;
  display: block;
  scroll-y: auto;
}
ul.project-list img {
  height: 240px;
  width: 240px;
}/******************
 * Post pages
 */

/* "< Animation" link */
a.index-link {
text-decoration: none;
font-weight: bold;
font-size: 1.3rem;
}
a.index-link>* {
margin:0;
}
.full-width {
  position:relative;
}
.full-width>* {
  position:absolute;
  left:50%;
  transform: translateX(-50%);
}
iframe[name="here_frame"] {
  border: none;
  margin: 2rem 0;
}html { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5 { font-family: "open sans", sans-serif; }
body, html, body>article {
  width: 100%;height: 100%;
  top: 0; left: 0;
  position:absolute;
  margin: 0;
}
body>article{
  overflow: auto;
}
#navigation { margin-top: 0vh; transition: margin 2s; }

img.icon { width: 5rem; height: 5rem; border-radius: 2.5rem; }
header.mast-head, footer { text-align: center }
header.mast-head { padding-top: 0;}
header.mast-head h1 {margin: 0; padding: 1rem; display: block}
header.mast-head nav ul {
  list-style: none;
  padding: 0;
}
section.page-content {
  margin: 0;
  max-width: 38rem;
  margin: 0 auto;
}
section.page-content>section {
  background: white;
  padding: 1rem 1rem;
}
a {color: dodgerblue; }
a:visited {color: dodgerblue;}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
.page-content, #navigation {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -o-user-select: initial;
}
/******************
 * Page swaps
 */
html[state=loading-images] #swap-page {
  visibility: hidden;
}
#swap-page-buffer {
  visibility: hidden;
  position: absolute;
}
html[state=buffering] #swap-page-buffer,
html[state=loading-images] #swap-page-buffer {
  visibility: visible;
}

/* Images */
center>img {
  max-height: 80vh;
  max-width: 100%;
  /*border-radius: 6px;*/
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.background-video {
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.background-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(-50%,-50%,0);
}/* Next and previous projects */
table.nav-near {width:100%;}
table.nav-near tr td:first-child,
table.nav-near tr td:last-child {
  text-align:center;
  width: 5rem;
  pointer-events: all;
}
.page-content {
  position: relative;
}
@media only screen and (min-width: 54rem) { /*38 + 1 * 2 + 5 * 2 + 2 * 2 */
  table.nav-near {
    position: absolute;
    left: 50%;
    top: 10rem;
    width: 54rem;
    margin-left: -27rem;
    margin-top: -10rem;
  }
  table.nav-near, table.nav-near tr, table.nav-near tr td:nth-child(2){
    pointer-events: none;
  }
}